<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Swordfish</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="icon" type="img/ico" href="key.ico">
   
    <link rel="manifest" href="/manifest.json">
    <style type="text/css">
   		md-input-container{
   			margin: 0px;
   		}   		
   		.my-tooltip-parent {
		  position: relative;
		  z-index: 1;
		}
    </style>
</head>
 <body ng-app="App" ng-cloak>
    
    <script src="/bower_components/angular/angular.min.js"></script> 
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script> 
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script> 
    <script src="/bower_components/angular-material/angular-material.min.js"></script> 
 	<script src="/bower_components/angular-messages/angular-messages.min.js"></script>
 	<script src="/bower_components/clipboard/dist/clipboard.min.js"></script>
  	<script src="/bower_components/ngclipboard/dist/ngclipboard.min.js"></script>
 
    <div ng-controller="MainController">
		<md-content layout="column" flex>
			<md-toolbar class="md-tall"></md-toolbar>
			<form name="form" ng-submit="form.$valid && gerar()" layout="row" layout-align="center center" style="margin-top:-80px; z-index:2;">
			<md-card flex-gt-sm="75" flex>
			    
			    <!--<md-card-header>
					<md-card-avatar>
		            	<img src="key.ico"/>
		          	</md-card-avatar>
		          	<md-card-header-text>
		            	<span class="md-title">Gerador de senhas</span>
		            	<span class="md-subhead">Aceitamos PicPay <i><b>@mariemariz</i></b></span>
		          	</md-card-header-text>
				</md-card-header>-->
		        <md-card-title>
		          <md-card-title-media>
		            <div class="md-media-sm card-media">
		            	 <img src="key.ico"/>
		            </div>
		          </md-card-title-media>
		          <md-card-title-text style="padding-left:15px;padding-top:10px;">
		            <span class="md-headline">Gerador de senhas</span>
		            <span class="md-subhead">Aceitamos doações PicPay <i><b>@mariemariz</i></b>, <i><b>@tacsio</i></b> e <i><b>@hially</i></b></span>
		          </md-card-title-text>
		        </md-card-title>
		        
		        <md-card-content>
		          <div layout-gt-xs="row" layout="column">
		            <md-input-container flex-gt-xs="50">
			            <label>Nome</label>
			            <input ng-model="config.nome" md-maxlength="30" id="inputNome" name="inputNome"/>
			            <div ng-messages="form.inputNome.$error">
				            <div ng-message="md-maxlength">Nome não pode ultrapassar 30 caracteres.</div>
				        </div>
			          </md-input-container>
			          <md-input-container flex-gt-xs="25">
			            <label>Dia nascimento</label>
			            <input type="number" min="1" max="31" ng-model="config.diaNasc" id="inputDiaNasc" name="inputDiaNasc"/>
			            <div ng-messages="form.inputDiaNasc.$error">
				            <div ng-message-exp="['max', 'min']">Informe um valor de dia entre 1 e 31.</div>
				        </div>
			          </md-input-container>
			          <md-input-container flex-gt-xs="25">
			            <label>Mês nascimento</label>
			            <input type="number" min="1" max="12" ng-model="config.mesNasc" id="inputMesNasc" name="inputMesNasc"/>
			            <div ng-messages="form.inputMesNasc.$error">
				            <div ng-message-exp="['max', 'min']">Informe um valor de mês entre 1 e 12.</div>
				        </div>
			          </md-input-container>
		          </div>
		          
		          <fieldset flex>
			          <legend>Configurações</legend>
			          <div style="margin-top:15px;">
						  <md-input-container flex-gt-md="50" flex="100">
				            <label>Tamanho</label>
				            <input type="number" min="5" max="10" ng-model="config.tamanho" id="inputTamanho" name="inputTamanho" required/>
			            	<div ng-messages="form.inputTamanho.$error">
					            <div ng-message="required">O campo de tamanho de senha deve ser preenchido.</div>
					            <div ng-message-exp="['max', 'min']">Informe um tamanho de senha entre 5 e 10.</div>
					        </div>
				          </md-input-container>         
				          <div>
					          <div>Tipo da Senha:</div> 
							  <md-radio-group ng-model="config.tipoSenha" class="md-primary" layout-gt-xs="row" layout-padding id="radioTipoSenha">
								<md-radio-button ng-repeat="it in tipos"
				                       ng-value="it.value"
				                       aria-label="{{it.label}}">
							          {{it.label}}
								</md-radio-button>
							  </md-radio-group>
				          </div>
				          <div layout="column">
							  <md-checkbox ng-model="config.maiuscula" aria-label="Permitir letras maiúsculas" id="checkMaiuscula">
					            Permitir letras Maiúsculas
					          </md-checkbox>
					          <md-checkbox ng-model="config.repeticaoNumeros" aria-label="Permitir repetição de números" id="checkRepeticao">
					            Permitir repetição de números
					          </md-checkbox>
					          <md-checkbox ng-model="config.caracteresEspeciais" aria-label="Permitir caracteres especiais"  id="checkCaracEspeciais">
					            Permitir caracteres especiais
					          </md-checkbox>						
				          </div>
			          </div>
		          </fieldset>

		        </md-card-content>
		        <md-card-actions layout="row" layout-align="end center"  flex>
		          <md-button ng-disabled="!form.$valid" class="md-primary md-raised" id="botaoGerar" type="submit">Gerar</md-button>
		        </md-card-actions>
		        
        	
	          	<md-list ng-show="gerou" id="listSenha">

				  <md-divider></md-divider>
				  <md-subheader class="md-no-sticky">Senhas geradas:</md-subheader>
				
				  <md-list-item ng-repeat="senha in senhas" ngclipboard data-clipboard-text="{{senha}}" ng-click="showToastCopy();" class="my-tooltip-parent">
				    <p> <span>{{senha}}</span> </p>
				    <div class="md-secondary-container">
				    	<i class="fa fa-clone" aria-hidden="true"></i>
				    </div>								    	
				  </md-list-item>
	          	</md-list>
		      </md-card>

			</form>
		 	
		</md-content> 
	</div>
	
    <script>
 
        // Include app dependency on ngMaterial 
 
        var app = angular.module( 'App', [ 'ngMaterial' , 'ngMessages', 'ngclipboard' ] );
        app.controller('MainController', function($scope, $http, $mdDialog, $mdToast) {
      		
        	$scope.gerou = false;
      		$scope.tipos = [{label:"Alfanumérico", value:"ALFANUMERICO"},
      		                {label:"Numérico", value:"NUMERICO"},
      		                {label:"Alfabético", value:"ALFABETICO"}];
      		if(!$scope.config){
      			$scope.config = {};
      		}
      		$scope.config.tipoSenha = $scope.tipos[0].value;
      		
      		$scope.gerar = function(){
      			$scope.gerou = false;
      			$http.post('/senhas', $scope.config).then(function successCallback(response) {
      				$scope.gerou = true;
      				$scope.senhas = response.data;
      			  }, function errorCallback(response) {
      				$mdDialog.show($mdDialog.alert()
      				        .parent(angular.element(document.querySelector('body')))
      				        .clickOutsideToClose(true)
      				        .title("Erro")
      				        .textContent(response.data.message)
      				        .ok('OK'));
      				$scope.gerou = false;
      			  });
      		};
      		
      		$scope.showToastCopy = function (){
      			var el = angular.element(document.getElementById("listSenha"));
      			$mdToast.show(
      			      $mdToast.simple()
      			        .textContent('Copiado para área de transferência!')
      			        .position("top right")
      			        .hideDelay(2000)
      			        .parent(el)
      			    );
      		};
      		
      	});
 
    </script> 
 
 	<script>
	  if ('serviceWorker' in navigator) {
	    console.log("Will the service worker register?");
	    navigator.serviceWorker.register('service-worker.js')
	      .then(function(reg){
	        console.log("Yes, it did.");
	      }).catch(function(err) {
	        console.log("No it didn't. This happened: ", err)
	      });
	  }
	</script>
 
</body>
</html>